/* body  */


html, body, .conteiner{
height: 100%;
width: 100%;
}

.conteiner{
display: flex;
flex-direction: column;
}

*{
margin: 0%;
padding: 0%;
box-sizing:border-box;
}

/* first section */

.one{
display: flex;
justify-content: space-around;
align-content: space-around;
flex-wrap: wrap;
height: 35%;
background-color: #1f2937;
}

.one-top{
width: 45%;
height: 10%;
}

.one-bottom{
width: 45%;
height: 65%;
margin-bottom: 2%;


}

.logo{
font-size: 1.5rem;
color: #F9FAF8;
}

ul{
display: flex;
justify-content: end;
}

li{
color: #e5e7eb;
list-style: none;
display: inline;
font-size: 1.1rem;
margin-left: 5%;
}

h1{
font-size: 3rem;
color: #F9FAF8;
font-weight: bolder;
}

.subtext{
font-size: 1.1rem;
color: #e5e7eb; 
margin-bottom: .5%;
}

.btn-header{
background-color: #3882f6;
color: #F9FAF8;
font-weight: bolder;
width: 12%;
padding: .40% .10%;
border-radius: 10%;
}

.placeholder{
background-color: gray;
display: flex;
justify-content: center;
align-items: center;

}
.text-placeholder{
color:#F9FAF8; 
}

/* 
second section */

.two{
height: 25%; 
}

.two-wraper{
display: flex;
flex-wrap: wrap;
height: 100%;
}

h2{
height: 25%;
width: 100%;
font-size: 2.25rem;
text-align: center;
margin-top: .5%;
}

div.bluebox{
    border-style: solid;
    border-radius: 5%;
    border-color: #3882f6;
    height: 50%;
    width: 12%;
}

figure{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    flex-grow: 1;
}

figcaption{
    text-align: center;
}









.three{
height: 20%;  
background-color: #e5e7eb;
}

.four{
height: 15%; 
}

.five{
height: 5%;
background-color: #1f2937;  
}







